/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    background-color: white;
    margin-left: 20px;
    padding: 5px;
}
/* header */
div h1 {
    display: inline-block;
    vertical-align:top;
    margin-top: 5px;
}
h1 {
    text-align: center;
}
/* body */
body {background-color: rgb(207, 204, 204);}
/* main */
ul {
    list-style: none;
}

/* button general */
.button-select {
    padding: 5px;
    border-radius: 8px;
}
.button-blue {
    background-color: aqua;
    color: white;
}
/* dimensioni */
.mb {
    margin: 20px 50px;
    text-align: left;


}
.button {
    padding: 5px;
    color: white;
    font-size: 8px;
    border-radius: 8px;
    border: none;
}
/* style */
#b-blue {
    background-color: rgb(141, 202, 240);
}
#b-violet {
    background-color: rgb(161, 109, 210);
}
#b-darkgreen {
    background-color: rgb(135, 186, 135);
}
#b-orange {
    background-color: rgb(233, 177, 73);
}
#b-pink {
    background-color: rgb(213, 94, 114);
}
#b-green {
    background-color: rgb(134, 211, 18);
}